@inherits LayoutComponentBase
<div class="wrapper">
    <BlazoredToasts />
    <LeftUpNavbarComponent/>
    <MainSideBarComponent/>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                @Body
            </div>
        </section>
    </div>
    <FooterComponent/>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

@* *@
@* <div class="page"> *@
@*     <div class="sidebar"> *@
@*         <NavMenu/> *@
@*     </div> *@
@* *@
@*     <div class="main"> *@
@*         <div class="top-row px-4"> *@
@*             <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> *@
@*         </div> *@
@* *@
@*         <div class="content px-4"> *@
@* *@
@*         </div> *@
@*     </div> *@
@* </div> *@